/* For Mobile */
@media only screen and (max-width: 400px) {
    .team_overview {
        padding: 4em 0;
        .team_box_list {
          .team_box {
            width: 100%;
            height: 350px;
          }
        }
      }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .round_Btn {
        font-size: 14px;
        &::after {
            font-size: 8px;
        }
    }
    Header {
        overflow: hidden;
        height: auto;
        .top_Nav_Wrap {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            .top_Nav {
                height: auto;
                .logo_Container {
                    width: 138px;
                }
            }
        }
        .mainbanner {
            .mainbanner-inner {
                .banner_height {
                    height: auto;
                  }
                flex-wrap: wrap-reverse;
                align-items: center;
                .banner_contentbox {
                    z-index: 1;
                    width: 94%;
                    margin: -20px auto 10px auto;
                    border-radius: 10px;
                    height: auto;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    .head_text {
                        margin-top: 0;
                        width: 100%;
                        padding: 1.5em 15px;
                        h1 {
                            font-weight: 600;
                            margin-bottom: 15px;
                            font-size: 32px;
                            line-height: 50px;
                            span {
                                color: $heading;
                            }
                        }
                        a {
                            margin-top: 18px;
                        }
                    }
                }
                .banner_image {
                    width: 100%;
                    padding: 1em;
                }
            }
        }
        .banner {
            .aboutus_head_text {
              margin-top: 100px;
              // max-width: 300px;
              h1 {
                color: $heading;
                font-size: 46px;
                font-weight: 900;
                line-height: 61px;
                span {
                  color: $primary;
                  margin-bottom: 48px;
                }
              }
            }
            .about-banner-details {
                text-align: justify;
            }
            .banner_image {
                width: 100%;
            }
        }
    }
    .service_box_mbl {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        margin-bottom: 15px;
        padding: 1em;
        border-right: 5px solid $primary;
       &:nth-child(even) {
        border-right: 5px solid $secondary;
       }
    } 
    .work_box {
        .works_main_contents {
            columns: 1;
            p {
                text-align: justify;
            }
        }
    }
    .work_box{
        .work_showcase {
            .work_showcase_content {
                text-align: left;
            }
            .round_Btn {
                margin-top: 15px;
            }
        }
    } 
    .project_details {
        .project_overview {
            .container {
                max-width: auto!important;
                width: auto!important;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .project_content_box { 
            h1 {
                font-size: 46px;
                line-height: 61px;
            }
        }
    }
    .our_role { 
        .role_content {
            .para_content {
                width: 100%;
            }
        }
    }
    .fresh_ideas { 
        padding: 4em 2em;
        h1 {
            font-size: 46px;
        }
        .content {
            width: 100%;
        }
    }
    .team_overview {
        padding: 4em 2em;
        .team_box_list {
          .team_box {
            width: 100%;
            height: 350px;
          }
        }
      }
       
}

/* small devices (Lablates, 600px and down) */
@media only screen and (max-width: 768px) {
    .round_Btn {
        font-size: 14px;
        &::after {
            font-size: 8px;
        }
    }
    Header {
        .top_Nav {
            .top_Nav_Menus {
                ul {
                    display: none;
                }
            }
        }
        .banner {
            padding-top: 0;
            .head_text {
                margin-top: 10px;
                max-width: 100%;
                h1 {
                    font-weight: 600;
                    margin-bottom: 20px;
                    span {
                        color: $heading;
                    }
                }
            }
        }
    }
    .we_serve_box {
        background-image: url('/img/industry-bg.png');
        background-position: left;
        background-repeat: no-repeat;
        position: relative;
        background-color: #f9f9f9;
        .serve_inner_box {
            width: 100%;
            margin: 0 auto;
            .nav-pills {
                margin-bottom: 35px!important;
                justify-content: space-between;
                display: list-item;
                .nav-item {
                    max-width: 120px;
                    text-align: center;
                    .nav-link {
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                        .icon_by_sector { 
                            font-size: 25px;
                            margin-bottom: 15px;
                            padding: 10px;
                            width: 65px;
                            margin: 0 auto 15px auto;
                            i {
                                font-size: 32px;
                                color: $content;
                            }
                        }
                        span {  
                            text-align: center;
                        }
                        &.active {
                            background-color: transparent;
                            .icon_by_sector {
                                color: #fff;
                                background-color: $primary;
                                border-radius: 3px;
                                i {
                                    color: #fff;
                                }
                            }
                            span {  
                                color: $secondary;
                            }
                        }
                        &:hover {
                            background-color: transparent;
                            .icon_by_sector {
                                color: #fff;
                                background-color: $primary;
                                border-radius: 3px;
                                i {
                                    color: #fff;
                                }
                            }
                            span {  
                                color: $secondary;
                            }
                        }
                    }
                }
            }
            .serve_conent_box {
                color: $content;
                font-size: 15px;
                h5{
                    font-weight: 600;
                }
                .service_list_box {
                    margin-left: 15px;
                    li {
                        margin-bottom: 15px;
                        &::marker {
                            color: $primary;
                        }
                    }
                }
            }
            .image_container {
                text-align: center;
               i {
                font-size: 120px;
                color: $primary;
               }
            }
        }
        .bg_img-industry{
            background-image: url('/img/industry-bg.png');
            background-position: right;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .project_details {
        .project_overview {
            .container {
                max-width: auto!important;
                width: auto!important;
                padding-left: 15px;
                padding-right: 15px;
                .row {
                    flex-wrap: wrap-reverse;
                }
            }
        }
    }
}
@media only screen and (min-width: 1500px) { 
    Header {
        height: 960px;
    }
    Header .banner .head_text h1 {
        font-size: 3vw;
        line-height: 87px;
    }
    h1 {
        font-weight: 700;
        font-size: 4vw;
        line-height: 5vw;
      }
}