@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap");
*, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #FF4500;
  text-decoration: underline;
}

.round_Btn {
  padding: .4em 2.5em .4em 1em;
  border-radius: 20px;
  background-color: #FF4500;
  color: #fff !important;
  display: inline-block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
          box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  position: relative;
}

.round_Btn:hover {
  color: #fff;
}

.round_Btn::after {
  content: "\f061";
  font-family: FontAwesome;
  font-size: 10px;
  font-weight: 600;
  background-color: #fff;
  color: #FF4500;
  padding: 7px 10px;
  position: absolute;
  border-radius: 50%;
  right: 3px;
  top: 3px;
}

.trans_btn {
  color: #FF4500;
  text-transform: uppercase;
}

.trans_btn img {
  width: 60px;
}

Header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

Header .top_Nav {
  height: 100px;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

Header .top_Nav .logo_Container {
  width: 200px;
}

Header .top_Nav .logo_Container img {
  width: 100%;
}

Header .top_Nav .top_Nav_Menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

Header .top_Nav .top_Nav_Menus ul {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

Header .top_Nav .top_Nav_Menus ul li {
  margin-left: 15px;
  padding: 1em;
}

Header .top_Nav .top_Nav_Menus button {
  margin-left: "10px";
  border: none;
  background-color: transparent;
  color: #FF4500;
  width: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

Header .top_Nav .top_Nav_Menus button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}

Header .banner {
  padding-top: 70px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

Header .banner .head_text {
  margin-top: 100px;
  max-width: 200px;
}

Header .banner .head_text h1 {
  font-size: 5vw;
  font-weight: 900;
  color: #FF4500;
  margin-bottom: 48px;
}

Header .banner .head_text h1 span {
  color: #111;
}

Header .banner .banner_image {
  padding-top: 40px;
  width: 100%;
}

Header .banner .banner_image img {
  width: 100%;
}

Header .side_Toggle_Box .toggle_Box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin-right: -100%;
  background-color: #00225F;
  -webkit-transition: margin-right 2s;
  transition: margin-right 2s;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .top_Nav .logo_Container {
  width: 200px;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .top_Nav .logo_Container img {
  width: 100%;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .top_Nav .top_Nav_Menus ul li a {
  color: #fff;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table {
  margin-left: auto;
  width: 500px;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table tr td.menu_title {
  max-width: 250px;
  text-align: right;
  text-transform: uppercase;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table tr td h1 {
  color: #fff;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table tr td h1 a {
  font-size: 36px;
  color: #fff;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table tr td h1 a:hover {
  text-decoration: none;
  color: #FF4500;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table tr td h1.nav_Num {
  text-align: center;
  height: 66px;
  font-size: 28px;
  margin-left: 75px;
  font-weight: 200;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

Header .side_Toggle_Box .toggle_Box .inner_Box .bg_Image_Container {
  width: 100%;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 0;
}

Header .side_Toggle_Box .active {
  width: 100%;
  margin-right: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.home_section_layout {
  padding: 70px 0;
}

.home_section_layout .home_section_titles {
  margin-bottom: 40px;
}

.home_section_layout .home_section_titles small {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.4);
}

.home_section_layout .home_section_titles small img {
  margin-top: 20px;
}

.home_section_layout .home_section_titles small.subtitles {
  line-height: 20px;
}

.home_section_layout .home_section_titles h1 {
  max-width: 341px;
  color: #111;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.home_section_layout .home_section_titles h1 span {
  color: #FF4500;
}

.our_concepts {
  background-image: url("/img/mud-pot.png");
  background-size: cover;
  background-position: center;
}

.our_concepts .section_contents {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.6);
  text-align: justify;
  padding-bottom: 40px;
}

.service_box .tabs-area .nav-tabs {
  border: none;
}

.service_box .tabs-area .nav-tabs .nav-item {
  text-align: center;
}

.service_box .tabs-area .nav-tabs .nav-item .service_Item {
  margin-bottom: 15px;
}

.service_box .tabs-area .nav-tabs .nav-item .service_Item span {
  color: #FF4500;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link {
  position: relative;
  border: none;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link i {
  border: none;
  border-radius: 50%;
  padding: .34em .45em;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link.active {
  border: none;
  color: #FF4500;
  margin-top: -1px;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link.active i {
  border: 1px solid #FF4500;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link:hover {
  border: none;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link:before {
  content: '';
  position: absolute;
  vertical-align: middle;
  height: 1px;
  width: 45%;
  top: 50%;
  left: 0;
  display: inline-block;
  background: red;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link:after {
  content: '';
  position: absolute;
  vertical-align: middle;
  height: 1px;
  width: 45%;
  top: 50%;
  right: 0;
  display: inline-block;
  background: red;
}

.service_box .tabs-area .nav-tabs .owl-nav button {
  position: absolute;
  top: 19px;
}

.service_box .tabs-area .nav-tabs .owl-nav button.owl-prev {
  left: 0;
}

.service_box .tabs-area .nav-tabs .owl-nav button.owl-next {
  right: 0;
}

.service_box .tabs-area .nav-tabs .owl-nav button span {
  background: #fff;
  font-size: 53px;
}

.service_box .tabs-area .nav-tabs .owl-nav button:focus {
  outline: none;
}

.service_box .tabs-area .service_inner_box {
  padding: 30px 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.service_box .tabs-area .service_inner_box .service_title h2 {
  max-width: 200px;
  color: #111;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 15px;
}

.service_box .tabs-area .service_inner_box .service_title h2 span {
  color: #FF4500;
}

.service_box .tabs-area .service_inner_box .service_title .text_bolder {
  font-weight: 600;
  color: #111;
  margin-bottom: 15px;
  line-height: 28px;
}

.service_box .tabs-area .service_inner_box .service_title span {
  line-height: 28px;
}

.service_box .tabs-area .service_inner_box .img_box {
  width: 100%;
  padding: 20px;
}

.service_box .tabs-area .service_inner_box .img_box img {
  width: 100%;
}

.service_box .tabs-area .service_inner_box .service_in_List {
  padding-top: 50px;
}

.service_box .tabs-area .service_inner_box .service_in_List li {
  margin-bottom: 10px;
  margin-left: 15px;
}

.service_box .tabs-area .service_inner_box .service_in_List li.service_title {
  margin-bottom: 15px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.service_box .tabs-area .service_inner_box .service_in_List li::marker {
  color: #FF4500;
}

.service_box .tabs-area .service_inner_box .service_in_List li a {
  line-height: 27px;
}

.we_serve_box {
  background-image: url("/img/industry-bg.png");
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f9f9f9;
}

.we_serve_box .serve_inner_box {
  width: 960px;
  margin: 0 auto;
}

.we_serve_box .serve_inner_box .nav-pills {
  margin-bottom: 50px !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item {
  max-width: 120px;
  text-align: center;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:first-child {
  padding-left: 0;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:last-child {
  padding-right: 0;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link .icon_by_sector {
  font-size: 25px;
  margin-bottom: 15px;
  padding: 10px;
  width: 65px;
  margin: 0 auto 15px auto;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link .icon_by_sector i {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link span {
  text-align: center;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active {
  background-color: transparent;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active .icon_by_sector {
  color: #fff;
  background-color: #FF4500;
  border-radius: 3px;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active .icon_by_sector i {
  color: #fff;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active span {
  color: #00225F;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover {
  background-color: transparent;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover .icon_by_sector {
  color: #fff;
  background-color: #FF4500;
  border-radius: 3px;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover .icon_by_sector i {
  color: #fff;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover span {
  color: #00225F;
}

.we_serve_box .serve_inner_box .serve_conent_box {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

.we_serve_box .serve_inner_box .serve_conent_box h5 {
  font-weight: 600;
}

.we_serve_box .serve_inner_box .serve_conent_box p {
  line-height: 29px;
}

.we_serve_box .serve_inner_box .serve_conent_box .service_list_box {
  margin-left: 15px;
}

.we_serve_box .serve_inner_box .serve_conent_box .service_list_box li {
  margin-bottom: 15px;
}

.we_serve_box .serve_inner_box .serve_conent_box .service_list_box li::marker {
  color: #FF4500;
}

.we_serve_box .serve_inner_box .image_container {
  text-align: center;
}

.we_serve_box .serve_inner_box .image_container i {
  font-size: 120px;
  color: #FF4500;
}

.we_serve_box .bg_img-industry {
  background-image: url("/img/industry-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.work_box {
  background-color: #F2F2F2;
}

.work_box .works_main_contents {
  display: inline-block;
  -webkit-columns: 2;
          columns: 2;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  margin-bottom: 40px;
  line-height: 29px;
}

.work_box .works_main_contents p {
  line-height: 29px;
}

.work_box .work_showcase {
  margin-top: 40px;
  margin-bottom: 40px;
}

.work_box .work_showcase .work_showcase_content {
  text-align: right;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.work_box .work_showcase .work_showcase_content p {
  line-height: 29px;
}

.work_box .work_showcase .work_showcase_content .round_Btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6) !important;
  border: 1px solid #ddd;
  font-weight: 500;
}

.work_box .work_showcase .work_showcase_content .round_Btn:hover {
  background-color: #FF4500;
  color: #fff !important;
}

.work_box .work_showcase .image_container {
  width: 100%;
}

.work_box .work_showcase .image_container img {
  width: 100%;
}

.blog_box {
  background-color: #00225F;
}

.blog_box .home_section_titles small {
  color: #fff;
}

.blog_box .home_section_titles h1 {
  max-width: 600px;
  color: #fff;
}

.blog_box .home_section_titles h1 span {
  color: #fff;
}

.blog_box .blog_item_slider .blog_items .blog_item {
  background-color: #fff;
  height: 450px;
  overflow: hidden;
}

.blog_box .blog_item_slider .blog_items .blog_item .image_box {
  width: 100%;
  overflow: hidden;
}

.blog_box .blog_item_slider .blog_items .blog_item .image_box img {
  width: 100%;
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box {
  height: 450px;
  color: rgba(0, 0, 0, 0.6);
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box .blog_contents {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box .blog_contents .published {
  margin-bottom: 15px;
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box .blog_contents .published span {
  display: block;
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box .blog_contents .blog__content {
  margin-bottom: 15px;
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box .blog_contents .blog__content h4 {
  color: #FF4500;
  font-size: 20px;
  line-height: 25px;
}

.blog_box .blog_item_slider .blog_items .owl-nav {
  color: #fff;
}

.blog_box .blog_item_slider .blog_items .owl-nav button:focus {
  outline: none;
}

.blog_box .blog_item_slider .blog_items .owl-nav button:hover {
  background-color: transparent;
}

.testinomial_box {
  position: relative;
  margin-bottom: 40px;
}

.testinomial_box .testinomial_container.active .testinomial_content_box {
  display: block;
}

.testinomial_box .testinomial_container.active .testinomial_content_box p {
  line-height: 29px;
}

.testinomial_box .testinomial_container.active .testinomial_content_img {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  top: 40% !important;
  right: 22% !important;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position {
  top: 10%;
  right: 42%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position1 {
  top: 10%;
  right: 12%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position2 {
  top: 40%;
  right: 12%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position3 {
  top: 65%;
  right: 18%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position4 {
  top: 88%;
  right: 12%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position5 {
  top: 18%;
  right: 30%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position6 {
  top: 40%;
  right: 38%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position7 {
  top: 65%;
  right: 38%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position8 {
  top: 88%;
  right: 35%;
}

.testinomial_box .testinomial_container .testinomial_content_box {
  width: 500px;
  display: none;
  color: rgba(0, 0, 0, 0.6);
}

.testinomial_box .testinomial_container .testinomial_content_box a {
  color: #FF4500;
}

.testinomial_box .testinomial_container .testinomial_content_img {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.testinomial_box .testinomial_container .testinomial_content_img.position {
  right: 30%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position1 {
  top: 18%;
  right: 20%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position2 {
  top: 40%;
  right: 12%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position3 {
  top: 65%;
  right: 12%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position4 {
  top: 88%;
  right: 20%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position5 {
  top: 18%;
  right: 30%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position6 {
  top: 40%;
  right: 38%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position7 {
  top: 65%;
  right: 38%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position8 {
  top: 88%;
  right: 30%;
}

.client_box .home_section_titles h1 {
  max-width: 400px;
}

.client_box .client_items .company_logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.client_box .client_items .company_logo a {
  width: 100%;
}

.client_box .client_items .company_logo a img {
  margin: 15px 15px;
  width: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
  /* IE 6-9 */
}

.client_box .client_items .company_logo a:hover img {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

Footer img {
  padding-top: 15px;
  width: 100%;
}

Footer .bottom_quick_links .menu_group h6 {
  color: #111;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 20px;
}

Footer .bottom_quick_links .menu_group .menu_items {
  font-size: 15px;
  list-style: none;
  color: rgba(0, 0, 0, 0.6);
}

Footer .bottom_quick_links .menu_group .menu_items li {
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

Footer .bottom_quick_links .menu_group .menu_items li a {
  color: rgba(0, 0, 0, 0.6);
}

Footer .bottom_quick_links .menu_group.las_menu {
  padding-left: 100px;
}

Footer .bottom_quick_links .menu_group.third_menu {
  padding-left: 50px;
}

Footer .bottom_quick_links .menu_group.second_menu {
  padding-left: 20px;
}

Footer .copy_right {
  border-top: 1px solid #ddd;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  .round_Btn {
    font-size: 14px;
  }
  .round_Btn::after {
    font-size: 8px;
  }
  Header .banner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  Header .banner .head_text {
    margin-top: 10px;
    max-width: 100%;
  }
  Header .banner .head_text h1 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  Header .banner .head_text h1 span {
    color: #111;
  }
}

/* small devices (Lablates, 600px and down) */
@media only screen and (max-width: 768px) {
  .round_Btn {
    font-size: 14px;
  }
  .round_Btn::after {
    font-size: 8px;
  }
  Header .top_Nav .top_Nav_Menus ul {
    display: none;
  }
  Header .banner {
    padding-top: 0;
  }
  Header .banner .head_text {
    margin-top: 10px;
    max-width: 100%;
  }
  Header .banner .head_text h1 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  Header .banner .head_text h1 span {
    color: #111;
  }
  .we_serve_box {
    background-image: url("/img/industry-bg.png");
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    background-color: #f9f9f9;
  }
  .we_serve_box .serve_inner_box {
    width: 100%;
    margin: 0 auto;
  }
  .we_serve_box .serve_inner_box .nav-pills {
    margin-bottom: 35px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: list-item;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item {
    max-width: 120px;
    text-align: center;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:first-child {
    padding-left: 0;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:last-child {
    padding-right: 0;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link .icon_by_sector {
    font-size: 25px;
    margin-bottom: 15px;
    padding: 10px;
    width: 65px;
    margin: 0 auto 15px auto;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link .icon_by_sector i {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.6);
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link span {
    text-align: center;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active {
    background-color: transparent;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active .icon_by_sector {
    color: #fff;
    background-color: #FF4500;
    border-radius: 3px;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active .icon_by_sector i {
    color: #fff;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active span {
    color: #00225F;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover {
    background-color: transparent;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover .icon_by_sector {
    color: #fff;
    background-color: #FF4500;
    border-radius: 3px;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover .icon_by_sector i {
    color: #fff;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover span {
    color: #00225F;
  }
  .we_serve_box .serve_inner_box .serve_conent_box {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
  }
  .we_serve_box .serve_inner_box .serve_conent_box h5 {
    font-weight: 600;
  }
  .we_serve_box .serve_inner_box .serve_conent_box .service_list_box {
    margin-left: 15px;
  }
  .we_serve_box .serve_inner_box .serve_conent_box .service_list_box li {
    margin-bottom: 15px;
  }
  .we_serve_box .serve_inner_box .serve_conent_box .service_list_box li::marker {
    color: #FF4500;
  }
  .we_serve_box .serve_inner_box .image_container {
    text-align: center;
  }
  .we_serve_box .serve_inner_box .image_container i {
    font-size: 120px;
    color: #FF4500;
  }
  .we_serve_box .bg_img-industry {
    background-image: url("/img/industry-bg.png");
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
  }
}
/*# sourceMappingURL=styles.css.map */