@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/** -------------- Global Styles --------------- **/
*,
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #FF5B00;
  text-decoration: underline;
}

.round_Btn {
  padding: 0.4em 2.5em 0.4em 1em;
  border-radius: 20px;
  background-color: #FF5B00;
  color: #fff !important;
  display: inline-block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
          box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  position: relative;
}

.round_Btn:hover {
  color: #fff;
}

.round_Btn::after {
  content: "\f061";
  font-family: FontAwesome;
  font-size: 10px;
  font-weight: 600;
  background-color: #fff;
  color: #FF5B00;
  padding: 3px 7px;
  position: absolute;
  border-radius: 50%;
  right: 8px;
  top: 8px;
}

.trans_btn {
  color: #FF5B00;
  text-transform: uppercase;
}

.trans_btn img {
  width: 60px;
}

Header {
  position: relative;
  height: 780px;
}

Header .top_Nav_Wrap {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

Header .top_Nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

Header .top_Nav .logo_Container {
  width: 180px;
}

Header .top_Nav .logo_Container img {
  width: 100%;
}

Header .top_Nav .top_Nav_Menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

Header .top_Nav .top_Nav_Menus ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

Header .top_Nav .top_Nav_Menus ul li {
  margin-left: 15px;
  padding: 1em;
}

Header .top_Nav .top_Nav_Menus ul li .menuitem_main {
  text-decoration: none;
  position: relative;
}

Header .top_Nav .top_Nav_Menus ul li .menuitem_main::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  background: transparent;
  content: '';
  height: 2px;
  display: block;
  top: 35px;
  width: 0;
}

Header .top_Nav .top_Nav_Menus ul li .menuitem_main:hover::after {
  width: 100%;
  background: #FF5B00;
}

Header .top_Nav .top_Nav_Menus button {
  margin-left: "10px";
  border: none;
  background-color: transparent;
  color: #FF5B00;
  width: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

Header .top_Nav .top_Nav_Menus button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}

Header .banner {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

Header .banner .banner_height {
  height: 100%;
}

Header .banner .banner_contentbox {
  background-color: #00225f;
  height: 87%;
  width: 100%;
}

Header .banner .head_text {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

Header .banner .head_text .banner_taglines {
  color: #FF5B00;
  font-weight: 600;
  margin-bottom: 10px;
}

Header .banner .head_text h1 {
  font-weight: 800;
  font-size: 45px;
  line-height: 70px;
  color: #fff;
  margin-bottom: 20px;
}

Header .banner .head_text h1 span {
  color: #FF5B00;
}

Header .banner .head_text .banner_subtitle {
  color: #aaa;
  font-size: 16px;
  line-height: 30px;
}

Header .banner .head_text a {
  margin-top: 40px;
  display: block;
  width: 160px;
}

Header .banner .banner_image {
  height: 87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  width: 90%;
}

Header .banner .banner_image img {
  width: 100%;
}

Header .side_Toggle_Box .toggle_Box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin-right: -100%;
  background-color: #00225f;
  -webkit-transition: margin-right 2s;
  transition: margin-right 2s;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .top_Nav .logo_Container {
  width: 200px;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .top_Nav .logo_Container img {
  width: 100%;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .top_Nav .top_Nav_Menus ul li a {
  color: #fff;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table {
  margin-left: auto;
  width: 500px;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table tr td.menu_title {
  max-width: 250px;
  text-align: right;
  text-transform: uppercase;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table tr td h1 {
  color: #fff;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table tr td h1 a {
  font-size: 36px;
  color: #fff;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table tr td h1 a:hover {
  text-decoration: none;
  color: #FF5B00;
}

Header .side_Toggle_Box .toggle_Box .inner_Box .main_Side_Nav table tr td h1.nav_Num {
  text-align: center;
  height: 66px;
  font-size: 28px;
  margin-left: 75px;
  font-weight: 200;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

Header .side_Toggle_Box .toggle_Box .inner_Box .bg_Image_Container {
  width: 100%;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 1;
}

Header .side_Toggle_Box .active {
  width: 100%;
  margin-right: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.home_section_layout {
  padding: 70px 0;
}

.home_section_layout .home_section_titles {
  margin-bottom: 40px;
}

.home_section_layout .home_section_titles small {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.4);
}

.home_section_layout .home_section_titles small img {
  margin-top: 20px;
}

.home_section_layout .home_section_titles .subtitles {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.6);
}

.home_section_layout .home_section_titles h1 {
  max-width: 341px;
  color: #111;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.home_section_layout .home_section_titles h1 span {
  color: #FF5B00;
}

/** -------------- Ends Global Styles --------------- **/
.our_concepts {
  background-image: url("/img/mud-pot.png");
  background-size: cover;
  background-position: center;
}

.our_concepts .section_contents {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.6);
  text-align: justify;
  padding-bottom: 40px;
}

.service_box .tabs-area .nav-tabs {
  border: none;
}

.service_box .tabs-area .nav-tabs .nav-item {
  text-align: center;
}

.service_box .tabs-area .nav-tabs .nav-item .service_Item {
  margin-bottom: 15px;
}

.service_box .tabs-area .nav-tabs .nav-item .service_Item span {
  color: #FF5B00;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link {
  position: relative;
  border: none;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link i {
  border: none;
  border-radius: 50%;
  padding: 0.7em 0.81em;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link.active {
  border: none;
  color: #FF5B00;
  margin-top: -1px;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link.active i {
  border: 1px solid #FF5B00;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link:hover {
  border: none;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link:before {
  content: "";
  position: absolute;
  vertical-align: middle;
  height: 1px;
  width: 42.5%;
  top: 50%;
  left: 0;
  display: inline-block;
  background: #FF5B00;
}

.service_box .tabs-area .nav-tabs .nav-item .nav-link:after {
  content: "";
  position: absolute;
  vertical-align: middle;
  height: 1px;
  width: 42.5%;
  top: 50%;
  right: 0;
  display: inline-block;
  background: #FF5B00;
}

.service_box .tabs-area .nav-tabs .owl-nav button {
  position: absolute;
  top: 11px;
}

.service_box .tabs-area .nav-tabs .owl-nav button.owl-prev {
  left: 0;
}

.service_box .tabs-area .nav-tabs .owl-nav button.owl-next {
  right: 0;
}

.service_box .tabs-area .nav-tabs .owl-nav button span {
  background: #fff;
  font-size: 66px;
  font-weight: 100;
  color: #FF5B00;
}

.service_box .tabs-area .nav-tabs .owl-nav button:focus {
  outline: none;
}

.service_box .tabs-area .service_inner_box {
  padding: 30px 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.service_box .tabs-area .service_inner_box .service_title h2 {
  max-width: 200px;
  color: #111;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 15px;
}

.service_box .tabs-area .service_inner_box .service_title h2 span {
  color: #FF5B00;
}

.service_box .tabs-area .service_inner_box .service_title .text_bolder {
  font-weight: 600;
  color: #111;
  margin-bottom: 15px;
  line-height: 28px;
}

.service_box .tabs-area .service_inner_box .service_title span {
  line-height: 28px;
}

.service_box .tabs-area .service_inner_box .img_box {
  padding: 20px;
}

.service_box .tabs-area .service_inner_box .img_box img {
  width: 100%;
}

.service_box .tabs-area .service_inner_box .service_in_List {
  padding-top: 50px;
}

.service_box .tabs-area .service_inner_box .service_in_List li {
  margin-bottom: 10px;
  margin-left: 15px;
}

.service_box .tabs-area .service_inner_box .service_in_List li.service_title {
  margin-bottom: 15px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.service_box .tabs-area .service_inner_box .service_in_List li::marker {
  color: #FF5B00;
}

.service_box .tabs-area .service_inner_box .service_in_List li a {
  line-height: 27px;
}

.we_serve_box {
  background-image: url("/img/industry-bg.png");
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f9f9f9;
}

.we_serve_box .owl-theme .owl-nav {
  position: absolute;
  width: 100%;
}

.we_serve_box .owl-theme .owl-nav button {
  position: absolute;
  background: #fff;
  opacity: .9;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.we_serve_box .owl-theme .owl-nav button:focus {
  background: #fff;
  color: #333;
  border-radius: 50%;
  border: none;
}

.we_serve_box .owl-theme .owl-nav button.owl-prev {
  left: -30px;
}

.we_serve_box .owl-theme .owl-nav button.owl-next {
  right: -30px;
}

.we_serve_box .serve_inner_box {
  width: 960px;
  margin: 0 auto;
}

.we_serve_box .serve_inner_box .nav-pills {
  margin-bottom: 50px !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item {
  max-width: 120px;
  text-align: center;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:first-child {
  padding-left: 0;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:last-child {
  padding-right: 0;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link .icon_by_sector {
  font-size: 25px;
  margin-bottom: 15px;
  padding: 10px;
  width: 65px;
  margin: 0 auto 15px auto;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link .icon_by_sector i {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link span {
  text-align: center;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active {
  background-color: transparent;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active .icon_by_sector {
  color: #fff;
  background-color: #FF5B00;
  border-radius: 3px;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active .icon_by_sector i {
  color: #fff;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active span {
  color: #00225f;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover {
  background-color: transparent;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover .icon_by_sector {
  color: #fff;
  background-color: #FF5B00;
  border-radius: 3px;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover .icon_by_sector i {
  color: #fff;
}

.we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover span {
  color: #00225f;
}

.we_serve_box .serve_inner_box .serve_conent_box {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

.we_serve_box .serve_inner_box .serve_conent_box h5 {
  font-weight: 600;
}

.we_serve_box .serve_inner_box .serve_conent_box p {
  line-height: 29px;
}

.we_serve_box .serve_inner_box .serve_conent_box .service_list_box {
  margin-left: 15px;
}

.we_serve_box .serve_inner_box .serve_conent_box .service_list_box li {
  margin-bottom: 15px;
}

.we_serve_box .serve_inner_box .serve_conent_box .service_list_box li::marker {
  color: #FF5B00;
}

.we_serve_box .serve_inner_box .image_container {
  text-align: center;
}

.we_serve_box .serve_inner_box .image_container i {
  font-size: 120px;
  color: #FF5B00;
}

.we_serve_box .bg_img-industry {
  background-image: url("/img/industry-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.work_box {
  background-color: #f2f2f2;
}

.work_box .works_main_contents {
  display: inline-block;
  -webkit-columns: 2;
          columns: 2;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 30px;
}

.work_box .works_main_contents p {
  line-height: 29px;
}

.work_box .work_showcase {
  margin-top: 50px;
  margin-bottom: 90px;
}

.work_box .work_showcase .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_box .work_showcase .work_showcase_content {
  text-align: right;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.work_box .work_showcase .work_showcase_content p {
  line-height: 30px;
  text-align: justify;
}

.work_box .work_showcase .work_showcase_content .round_Btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6) !important;
  border: 1px solid #ddd;
  font-weight: 500;
}

.work_box .work_showcase .work_showcase_content .round_Btn:hover {
  background-color: #FF5B00;
  color: #fff !important;
}

.work_box .work_showcase .image_container {
  width: 100%;
}

.work_box .work_showcase .image_container img {
  width: 100%;
}

.blog_box {
  background-color: #00225f;
}

.blog_box .home_section_titles small {
  color: #fff;
}

.blog_box .home_section_titles h1 {
  max-width: 600px;
  color: #fff;
}

.blog_box .home_section_titles h1 span {
  color: #fff;
}

.blog_box .blog_item_slider .blog_items .blog_item {
  background-color: #fff;
  height: 450px;
  overflow: hidden;
}

.blog_box .blog_item_slider .blog_items .blog_item .image_box {
  width: 100%;
  overflow: hidden;
}

.blog_box .blog_item_slider .blog_items .blog_item .image_box img {
  width: 100%;
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box {
  height: 450px;
  color: rgba(0, 0, 0, 0.6);
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box .blog_contents {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box .blog_contents .published {
  margin-bottom: 15px;
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box .blog_contents .published span {
  display: block;
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box .blog_contents .blog__content {
  margin-bottom: 15px;
}

.blog_box .blog_item_slider .blog_items .blog_item .blog_content_box .blog_contents .blog__content h4 {
  color: #FF5B00;
  font-size: 20px;
  line-height: 25px;
}

.blog_box .blog_item_slider .blog_items .owl-nav {
  color: #fff;
}

.blog_box .blog_item_slider .blog_items .owl-nav button:focus {
  outline: none;
}

.blog_box .blog_item_slider .blog_items .owl-nav button:hover {
  background-color: transparent;
}

.testinomial_box {
  position: relative;
  margin-bottom: 40px;
}

.testinomial_box .testinomial_container.active .testinomial_content_box {
  display: block;
}

.testinomial_box .testinomial_container.active .testinomial_content_box p {
  line-height: 29px;
}

.testinomial_box .testinomial_container.active .testinomial_content_img {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  top: 40% !important;
  right: 22% !important;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position {
  top: 10%;
  right: 42%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position1 {
  top: 10%;
  right: 12%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position2 {
  top: 40%;
  right: 12%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position3 {
  top: 65%;
  right: 18%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position4 {
  top: 88%;
  right: 12%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position5 {
  top: 18%;
  right: 30%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position6 {
  top: 40%;
  right: 38%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position7 {
  top: 65%;
  right: 38%;
}

.testinomial_box .testinomial_container.inactive .testinomial_content_img.position8 {
  top: 88%;
  right: 35%;
}

.testinomial_box .testinomial_container .testinomial_content_box {
  width: 500px;
  display: none;
  color: rgba(0, 0, 0, 0.6);
}

.testinomial_box .testinomial_container .testinomial_content_box a {
  color: #FF5B00;
}

.testinomial_box .testinomial_container .testinomial_content_img {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.testinomial_box .testinomial_container .testinomial_content_img.position {
  right: 30%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position1 {
  top: 18%;
  right: 20%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position2 {
  top: 40%;
  right: 12%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position3 {
  top: 65%;
  right: 12%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position4 {
  top: 88%;
  right: 20%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position5 {
  top: 18%;
  right: 30%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position6 {
  top: 40%;
  right: 38%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position7 {
  top: 65%;
  right: 38%;
}

.testinomial_box .testinomial_container .testinomial_content_img.position8 {
  top: 88%;
  right: 30%;
}

.client_box .home_section_titles h1 {
  max-width: 400px;
}

.client_box .client_items .company_logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 150px;
}

.client_box .client_items .company_logo a {
  width: 100%;
}

.client_box .client_items .company_logo a img {
  margin: 15px 15px;
  width: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
  /* IE 6-9 */
}

.client_box .client_items .company_logo a:hover img {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

Footer img {
  padding-top: 15px;
}

Footer .logo_an4soft {
  position: absolute;
  z-index: -1;
  width: 70%;
  left: 12%;
}

Footer .bottom_quick_links .menu_group h6 {
  color: #111;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 20px;
}

Footer .bottom_quick_links .menu_group .menu_items {
  font-size: 15px;
  list-style: none;
  color: rgba(0, 0, 0, 0.6);
}

Footer .bottom_quick_links .menu_group .menu_items li {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

Footer .bottom_quick_links .menu_group .menu_items li a {
  color: rgba(0, 0, 0, 0.6);
}

Footer .copy_right {
  border-top: 1px solid #ddd;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.work_with_us_section p {
  color: rgba(50, 2, 2, 0.16);
}

.work_with_us_section h3 {
  font-weight: 900;
}

.work_with_us_section h3 span {
  color: #FF5B00;
}

.work_with_us_section .row p {
  color: rgba(0, 0, 0, 0.6);
}

.work_with_us_section button {
  background: #FF5B00;
  color: #fff;
}

/* -----aboutus page starts----------------------------------------------- */
Header .banner .aboutus_head_text {
  margin-top: 100px;
}

Header .banner .aboutus_head_text h1 {
  color: #111;
  font-size: 4vw;
  font-weight: 900;
}

Header .banner .aboutus_head_text h1 span {
  color: #FF5B00;
  margin-bottom: 48px;
}

Header .banner .about-banner-details {
  color: rgba(0, 0, 0, 0.6);
}

Header .banner .about-banner-details p {
  line-height: 25px;
  font-weight: 500;
}

.home_section_layout .home_section_details {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* -----aboutus page ends ----------------------------------------------- */
/* -----contact page starts ----------------------------------------------- */
section .banner span {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.4);
}

section .banner p span {
  color: #ff4500;
  font-weight: 700;
}

section .banner h5 {
  color: #ff4500;
  font-weight: 700;
  line-height: 20px;
}

section .banner ul li {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

section .banner h2 {
  font-size: 35px;
  font-weight: 700;
}

section .banner h2 span {
  font-size: inherit;
  color: #ff4500;
  font-weight: inherit;
}

section .banner a {
  color: #fff !important;
  background-color: #FF5B00;
  text-decoration: none;
  position: relative;
  font-size: 25px;
  width: 200px;
}

section .banner a::after {
  content: "\f061";
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: 600;
  background-color: #fff;
  color: #FF5B00;
  margin: 5px 2px 2px 2px;
  padding: 5px 10px;
  position: absolute;
  border-radius: 50%;
  right: 15px;
  top: 3px;
}

section .banner input,
section .banner select,
section .banner textarea {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
}

section .banner input:focus,
section .banner select:focus,
section .banner textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #000;
}

/* -----contact page ends ----------------------------------------------- */
/* -----blog page starts ----------------------------------------------- */
section .banner .banner-left h1 {
  font-weight: 700;
  font-size: 50px;
}

section .banner .banner-left span {
  color: #FF5B00;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

section .banner .banner-left span::after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: 15px;
  color: #FF5B00;
  background: #fff;
  position: relative;
  top: -5px;
  font-size: 10px;
  text-align: center;
}

section .banner .blog-banner-right p {
  letter-spacing: 0.25em;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #FF5B00;
}

section .banner .blog-banner-right h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}

section .banner .blog-banner-right span {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.blog-tab {
  background: #2957a5;
  color: #fff;
}

.blog-tab span a {
  color: #fff;
}

.blog-tab .subscribe a {
  color: #fff !important;
  background-color: #FF5B00;
  text-decoration: none;
  position: relative;
  padding: 5px;
  border-radius: 5px;
}

.blog-tab .subscribe a::after {
  content: "\f061";
  font-family: FontAwesome;
  font-size: 10px;
  font-weight: 600;
  background-color: #fff;
  color: #FF5B00;
  margin: 0px 2px 2px 10px;
  padding: 6px 8px;
  border-radius: 50%;
  position: relative;
  top: -2px;
}

.blog-posts h5 {
  color: #FF5B00;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.25em;
}

.blog-posts p a {
  font-weight: 700;
  font-size: 3vh;
  line-height: 30px;
  color: #000000;
}

.blog-posts a {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}

/* -----blog page ends ----------------------------------------------- */
/* -----career1 page starts ----------------------------------------------- */
section .banner h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  max-width: 550px;
}

section .banner h2 span {
  color: #FF5B00;
}

section .banner p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

section .banner p span {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FF5B00;
}

section .section-card {
  background: rgba(196, 196, 196, 0.3);
  -webkit-box-shadow: 0px 5px 15px 2px rgba(206, 206, 206, 0.25);
          box-shadow: 0px 5px 15px 2px rgba(206, 206, 206, 0.25);
}

section .section-card h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

section .section-card h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

section .section-card p {
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
}

section .section-card span::after {
  content: " •  \f192   \f111  \f061";
  font-family: FontAwesome;
  margin-left: 15px;
  color: #FF5B00;
}

.career-culture {
  background: rgba(196, 196, 196, 0.3);
}

.career-culture h2 {
  font-weight: 700;
  font-size: 7vh;
  color: #FF5B00;
}

.career-culture h3 {
  font-weight: 700;
  color: #000000;
}

.career-culture p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.career-benefits {
  background: #2957a5;
}

.career-benefits h2 {
  font-weight: 700;
  font-size: 7vh;
  line-height: 70px;
  color: #fff;
}

.career-benefits img {
  background: #fff;
}

.career-benefits h6 {
  font-weight: 700;
  font-size: 3vh;
  line-height: 60px;
  color: #fff;
}

.career-end-title h3 {
  font-weight: 700;
  font-size: 8vh;
  line-height: 70px;
  color: #FF5B00;
}

.career-end-title p {
  font-weight: 600;
}

/* -----career1 page ends ----------------------------------------------- */
/* -----services page starts ----------------------------------------------- */
header h1 {
  font-weight: 700;
  font-size: 6vw;
  line-height: 7vw;
}

header h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 35px;
}

header .banner-details {
  font-size: 18px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5);
}

header .banner-details p {
  line-height: 28px;
}

.career-services h3 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  line-height: 60px;
  width: 320px;
}

.career-services h3 span {
  font-weight: 700;
}

.career-services h4 {
  font-weight: 700;
  line-height: 35px;
}

.career-services img {
  margin: 130px 0 30px 0;
  max-width: 100px;
  height: auto;
}

.career-services a {
  background: #FF5B00;
  color: #fff;
  width: 100%;
}

.career-services a::after {
  content: "\f061";
  font-family: FontAwesome;
  background: #fff;
  color: #FF5B00;
  padding: 1px 6px;
  border-radius: 50%;
}

.career-services a.inactive {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.career-services a.inactive::after {
  content: "\f061";
  font-family: FontAwesome;
  background: #fff;
  color: rgba(0, 0, 0, 0.5);
  padding: 1px 6px;
  border-radius: 50%;
}

.carrer2-deliver {
  background: #FF5B00;
}

.carrer2-deliver h3 {
  font-weight: 300;
  line-height: 40px;
  color: #ffffff;
}

.carrer2-deliver h2 {
  font-size: 5vw;
  font-weight: 800;
  line-height: 80px;
}

.carrer2-deliver h1 {
  font-weight: 800;
  line-height: 80px;
  color: #ffffff;
}

.carrer2-deliver p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.carrer2-deliver .vl {
  border-left: 1px solid #fff;
  height: 100vh;
}

.career2-insights h4 {
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  color: #320202;
}

.career2-insights p {
  font-weight: 400;
  line-height: 20px;
}

.career2-insights input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
}

.career2-insights input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #000;
}

.career2-insights a {
  color: #ffffff;
  background: #FF5B00;
}

.career2-insights a::after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: 15px;
  color: #FF5B00;
  background: #fff;
  padding: 3px;
  border-radius: 50%;
}

.career2-workwithus {
  background: #00173e;
}

.career2-workwithus h4 {
  color: #ffffff;
  line-height: 40px;
}

.career2-workwithus p {
  color: #ffffff;
  line-height: 30px;
}

.career2-workwithus a {
  color: #ffffff;
  background: #FF5B00;
}

.career2-workwithus a::after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: 15px;
  color: #FF5B00;
  background: #fff;
  padding: 3px;
  border-radius: 50%;
}

/* -----services page ends ----------------------------------------------- */
/* -----career3 page starts ----------------------------------------------- */
.career3-banner p {
  color: rgba(0, 0, 0, 0.5);
  line-height: 30px;
}

.career3-banner a {
  background: #FF5B00;
  color: #fff;
  font-weight: 500;
}

.career3-banner a::after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: 15px;
  color: #fff;
}

.career3-technologies p {
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.career3-technologies h3 {
  font-weight: 700;
  font-size: 50px;
  line-height: 100px;
}

.career3-mid-banner {
  background: #2957a5;
}

.career3-mid-banner p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.career3-mid-banner h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #fff;
}

.career3-mid-banner a {
  color: #fff;
  background: #FF5B00;
}

.career3-mid-banner a::after {
  margin-left: 20px;
  content: "\f061";
  font-family: FontAwesome;
}

.career3-industries-we-serve h1 {
  font-weight: 600;
  line-height: 50px;
}

.career3-industries-we-serve p {
  color: rgba(0, 0, 0, 0.4);
}

.career3-industries-we-serve h3 {
  position: absolute;
  font-weight: 700;
  top: 75%;
  color: #fff;
  z-index: 2;
}

.career3-industries-we-serve .card {
  position: relative;
}

.career3-industries-we-serve .card::after {
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.tab-content card img {
  height: 100px;
}

/* -----career3 page ends ----------------------------------------------- */
/* -----portfolio page starts ----------------------------------------------- */
.portfolio-banner p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.portfolio-item h5 {
  font-weight: 700;
  line-height: 40px;
}

.portfolio-item p {
  color: rgba(0, 0, 0, 0.5);
  line-height: 0;
}

.want_to_see_tab h3 {
  font-weight: 700;
}

.want_to_see_tab p {
  line-height: 30px;
}

.call-tab {
  background-color: #FF5B00;
}

.call-tab h3 {
  color: #fff;
  font-weight: 600;
}

.call-tab h3 span {
  color: #000;
}

.call-tab p {
  line-height: 30px;
}

.call-tab a {
  color: #fff;
  border: 1px solid #fff;
}

/* -----portfolio page ends ----------------------------------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  .round_Btn {
    font-size: 14px;
  }
  .round_Btn::after {
    font-size: 8px;
  }
  Header {
    overflow: hidden;
    height: auto;
  }
  Header .top_Nav_Wrap {
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  Header .top_Nav_Wrap .top_Nav {
    height: auto;
  }
  Header .top_Nav_Wrap .top_Nav .logo_Container {
    width: 138px;
  }
  Header .banner {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  Header .banner .banner_height {
    height: auto;
  }
  Header .banner .banner_contentbox {
    z-index: 1;
    width: 94%;
    margin: -20px auto 10px auto;
    border-radius: 10px;
    height: auto;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  Header .banner .banner_contentbox .head_text {
    margin-top: 0;
    width: 100%;
    padding: 1.5em 15px;
  }
  Header .banner .banner_contentbox .head_text h1 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 50px;
  }
  Header .banner .banner_contentbox .head_text h1 span {
    color: #111;
  }
  Header .banner .banner_contentbox .head_text a {
    margin-top: 18px;
  }
}

/* small devices (Lablates, 600px and down) */
@media only screen and (max-width: 768px) {
  .round_Btn {
    font-size: 14px;
  }
  .round_Btn::after {
    font-size: 8px;
  }
  Header .top_Nav .top_Nav_Menus ul {
    display: none;
  }
  Header .banner {
    padding-top: 0;
  }
  Header .banner .head_text {
    margin-top: 10px;
    max-width: 100%;
  }
  Header .banner .head_text h1 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  Header .banner .head_text h1 span {
    color: #111;
  }
  .we_serve_box {
    background-image: url("/img/industry-bg.png");
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    background-color: #f9f9f9;
  }
  .we_serve_box .serve_inner_box {
    width: 100%;
    margin: 0 auto;
  }
  .we_serve_box .serve_inner_box .nav-pills {
    margin-bottom: 35px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: list-item;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item {
    max-width: 120px;
    text-align: center;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:first-child {
    padding-left: 0;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:last-child {
    padding-right: 0;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link .icon_by_sector {
    font-size: 25px;
    margin-bottom: 15px;
    padding: 10px;
    width: 65px;
    margin: 0 auto 15px auto;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link .icon_by_sector i {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.6);
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link span {
    text-align: center;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active {
    background-color: transparent;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active .icon_by_sector {
    color: #fff;
    background-color: #FF5B00;
    border-radius: 3px;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active .icon_by_sector i {
    color: #fff;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link.active span {
    color: #00225f;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover {
    background-color: transparent;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover .icon_by_sector {
    color: #fff;
    background-color: #FF5B00;
    border-radius: 3px;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover .icon_by_sector i {
    color: #fff;
  }
  .we_serve_box .serve_inner_box .nav-pills .nav-item .nav-link:hover span {
    color: #00225f;
  }
  .we_serve_box .serve_inner_box .serve_conent_box {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
  }
  .we_serve_box .serve_inner_box .serve_conent_box h5 {
    font-weight: 600;
  }
  .we_serve_box .serve_inner_box .serve_conent_box .service_list_box {
    margin-left: 15px;
  }
  .we_serve_box .serve_inner_box .serve_conent_box .service_list_box li {
    margin-bottom: 15px;
  }
  .we_serve_box .serve_inner_box .serve_conent_box .service_list_box li::marker {
    color: #FF5B00;
  }
  .we_serve_box .serve_inner_box .image_container {
    text-align: center;
  }
  .we_serve_box .serve_inner_box .image_container i {
    font-size: 120px;
    color: #FF5B00;
  }
  .we_serve_box .bg_img-industry {
    background-image: url("/img/industry-bg.png");
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media only screen and (min-width: 1500px) {
  Header {
    height: 960px;
  }
  Header .banner .head_text h1 {
    font-size: 3vw;
    line-height: 87px;
  }
  h1 {
    font-weight: 700;
    font-size: 4vw;
    line-height: 5vw;
  }
}
/*# sourceMappingURL=styles.css.map */