@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap');

$primary:#FF4500;
$link: #333;
$heading: #111;
$secondary: #00225F;
$subTitle: rgba(0, 0, 0, 0.4);
$content: rgba(0, 0, 0, 0.6);

*, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: $heading;
}
a {
    text-decoration: none;
    color: $link;
    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}
.round_Btn {
    padding: .4em 2.5em .4em 1em;
    border-radius: 20px;
    background-color: $primary;
    color: #fff!important;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;  
    position: relative;
    &:hover {
        color: #fff; 
    }
    &::after {
        content:"\f061";
        font-family: FontAwesome;
        font-size: 10px;
        font-weight: 600;
        background-color: #fff;
        color: $primary;
        padding: 7px 10px;
        position: absolute;
        border-radius: 50%;
        right: 3px;
        top: 3px;
    }
}
.trans_btn {
    color: $primary;
    text-transform: uppercase;
    img {
        width: 60px;
    }
}
Header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    .top_Nav {
        height: 100px;
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo_Container {
            width: 200px;
            img {
                width: 100%;
            }
        }
        .top_Nav_Menus {
            display: flex;
            align-items: center;
            ul {
                margin-bottom: 0;
                display: flex;
                list-style: none;
                li {
                    margin-left: 15px;
                    padding: 1em;
                }
            }
            button {
                margin-left: "10px";
                border: none;
                background-color: transparent; 
                color: $primary;
                width: 20px;
                box-shadow: none;
                &:focus {
                    box-shadow: none;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .banner {
        padding-top: 70px;
        height: 100%;
        align-items: center;
        .head_text {
            margin-top: 100px;
            max-width: 200px;
            h1 {
                font-size: 40px;
                font-weight: 900;
                color: $primary;
                margin-bottom: 48px;
                span {
                    color: $heading;
                }
            }
            a {
            }
        }
        .banner_image {
            padding-top: 40px;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .side_Toggle_Box {
        .toggle_Box {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            margin-right: -100%;
            background-color: #00225F;
            transition: margin-right 2s;
            .inner_Box {
                .top_Nav {
                    .logo_Container {
                        width: 200px;
                        img {
                            width: 100%;
                        }
                    }
                    .top_Nav_Menus {
                        ul {
                            li {
                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                .main_Side_Nav {
                    table {
                        margin-left: auto;
                        width: 500px;
                        tr {
                            td {
                                &.menu_title {
                                    max-width: 250px;
                                    text-align: right;
                                    text-transform: uppercase;
                                }
                                h1 {
                                    a {
                                        font-size: 36px;
                                        color: #fff;
                                        &:hover {
                                            text-decoration: none;
                                            color: $primary;
                                        }
                                    }
                                    color: #fff;
                                    &.nav_Num {
                                        text-align: center;
                                        height: 66px;
                                        font-size: 28px;
                                        margin-left: 75px;
                                        font-weight: 200;
                                        transform: rotate(270deg);
                                    }
                                }
                            }
                        }
                    }
                }
                .bg_Image_Container {
                    width: 100%;
                    height: 200px;
                    display: inline-block;
                    position: absolute;  
                    top: 40%;
                    left: 0;
                }
            }
        }
        .active {
            width: 100%;
            margin-right: 0;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -o-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        }
    }
}
.home_section_layout {
    padding: 70px 0;
    .home_section_titles {
        margin-bottom: 20px;
        small {
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 60px;
            color: $subTitle;
            img {
                margin-top: 20px;
            }
            &.subtitles {
                line-height: 20px;
            }
        }
        h1 {
            max-width: 341px;
            color: $heading;
            font-weight: 700;
            font-size: 36px;
            line-height: 50px;
            span {
                color: $primary;
            }
        }
    }
}
.our_concepts {
    background-image: url('/img/mud-pot.png');
    background-size: cover;
    background-position: center;
    
    .section_contents {
        padding-top: 20px;
        color: $content;
        text-align: justify;
        padding-bottom: 40px;
    }
}
.service_box {
    .tabs-area {
        .nav-tabs {
            border: none;
            .nav-item {
                text-align: center;
                .service_Item {
                    margin-bottom: 15px;
                    span {
                        color: $primary;
                    }
                }
                .nav-link {
                    i {
                        border: 1px solid;
                        border-color: transparent;
                        border-radius: 50%;
                        padding: .34em .45em;
                    }
                    &.active {
                        border: none;
                        color: $primary;
                        i {
                            border-color: $primary;
                        }
                    }
                    &:hover {
                        border: none;
                    }
                }
            }
            .owl-nav {
                button {
                    position: absolute;
                    top: 19px;
                    &.owl-prev {
                        left: 0;
                    }
                    &.owl-next {
                        right: 0;
                    }
                    span {
                        font-size: 53px;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
            
        }
        .service_inner_box {
            padding: 30px 0;
            font-size: 15px;
            color: $content;
            .service_title {
                h2 {
                    max-width: 200px;
                    color: $heading;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 40px;
                    span {
                    color: $primary;
                    }
                }
                .text_bolder {
                    font-weight: 600;
                    color: $heading;
                }
            }
            .img_box {
                width: 100%;
                padding: 20px;
                img {
                    width: 100%;
                }
            }
            .service_in_List {
                padding-top: 50px;
                li {
                    margin-bottom: 10px;
                    margin-left: 15px;
                    &.service_title {
                        margin-bottom: 15px;
                        list-style: none;
                        margin-left: 0;
                        padding-left: 0;
                    }
                    &::marker { 
                        color: $primary;
                    }
                }
            }
        }
    }
}
.we_serve_box {
    background-image: url('/img/industry-bg.png');
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    background: #f9f9f9;
    .serve_inner_box {
        width: 960px;
        margin: 0 auto;
        .nav-pills {
            margin-bottom: 35px!important;
            justify-content: space-between;
            .nav-item {
                max-width: 120px;
                text-align: center;
                .nav-link {
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    .icon_by_sector { 
                        font-size: 25px;
                        margin-bottom: 15px;
                        padding: 10px;
                        width: 65px;
                        margin: 0 auto 15px auto;
                        i {
                            font-size: 32px;
                            color: $content;
                        }
                    }
                    span {  
                        text-align: center;
                    }
                    &.active {
                        background-color: transparent;
                        .icon_by_sector {
                            color: #fff;
                            background-color: $primary;
                            border-radius: 3px;
                            i {
                                color: #fff;
                            }
                        }
                        span {  
                            color: $secondary;
                        }
                    }
                    &:hover {
                        background-color: transparent;
                        .icon_by_sector {
                            color: #fff;
                            background-color: $primary;
                            border-radius: 3px;
                            i {
                                color: #fff;
                            }
                        }
                        span {  
                            color: $secondary;
                        }
                    }
                }
            }
        }
        .serve_conent_box {
            color: $content;
            font-size: 15px;
            h5{
                font-weight: 600;
            }
            .service_list_box {
                margin-left: 15px;
                li {
                    margin-bottom: 15px;
                    &::marker {
                        color: $primary;
                    }
                }
            }
        }
        .image_container {
            text-align: center;
           i {
            font-size: 120px;
            color: $primary;
           }
        }
    }
    .bg_img-industry{
        background-image: url('/img/industry-bg.png');
        background-position: right;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
    }
}
